# Inhalte der Upload Ordner #
#############################
Blends/*
!Blends/empty
Brushes/*
!Brushes/empty
Designs/*
!Designs/empty
Downloads/*
!Downloads/empty
Headers/*
!Headers/empty
Iconbases/*
!Iconbases/empty
Icons/*
!Icons/empty
Icontextures/*
!Icontextures/empty
Materials/*
!Materials/empty
Psds/*
!Psds/empty
Reviews/*
!Reviews/empty
Signatures/*
!Signatures/empty
Textures/*
!Textures/empty
Tutorials/*
!Tutorials/empty
Wallpapers/*
!Wallpapers/empty

# Betriebssystem Dateien #
##########################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Tool-spezifische Dateien #
############################
# vim
*~
*.swp
*.swo
# sublime text & textmate
*.sublime-*
*.stTheme.cache
*.tmlanguage.cache
*.tmPreferences.cache
# Eclipse
.settings/*
# JetBrains, aka PHPStorm, IntelliJ IDEA
.idea/*
# NetBeans
nbproject/*
# Visual Studio Code
.vscode